// vw单位的尺寸=px单位的尺寸/视口宽度*100

// .box{
//     width: (200/3.75vw);
//     height: (129/3.75vw);
//     background-color: pink;
// }


//vh单位的尺寸=px单位的尺寸/百分之一视口高度
.box{
    width: (200/6.67vh);
    height: (129/6.67vh);
    background-color: gold;
}