@font-face {
  font-family: "iconfont"; /* Project id 5040580 */
  src: url('iconfont.woff2?t=1760499111685') format('woff2'),
       url('iconfont.woff?t=1760499111685') format('woff'),
       url('iconfont.ttf?t=1760499111685') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tijiaoyanzi:before {
  content: "\e624";
}

.icon-jinru:before {
  content: "\e625";
}

.icon-cart-add:before {
  content: "\e824";
}

.icon-cart-empty:before {
  content: "\e826";
}

.icon-left:before {
  content: "\e83d";
}

.icon-right:before {
  content: "\e840";
}

.icon-search1:before {
  content: "\e841";
}

.icon-upload:before {
  content: "\e846";
}

.icon-kehutong:before {
  content: "\e87a";
}

.icon-shengyidai:before {
  content: "\e87c";
}

.icon-hangyejingzhengli:before {
  content: "\e881";
}

.icon-hangyebaogao:before {
  content: "\e882";
}

.icon-zhengshuyanzhen:before {
  content: "\e883";
}

.icon-hangyehuodong:before {
  content: "\e884";
}

.icon-zhuanshufuwu:before {
  content: "\e885";
}

.icon-shouji:before {
  content: "\e608";
}

.icon-anquanbaozhang:before {
  content: "\e61d";
}

.icon-shouye-zhihui:before {
  content: "\e61f";
}

.icon-kuaijiezhifu:before {
  content: "\e621";
}

.icon-zhifudingjin:before {
  content: "\e622";
}

.icon-dianpu:before {
  content: "\e623";
}

.icon-arrow-down:before {
  content: "\e666";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-fanhui:before {
  content: "\e61e";
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-favorite:before {
  content: "\e66f";
}

.icon-fabulous:before {
  content: "\e670";
}

.icon-good:before {
  content: "\e673";
}

.icon-picture:before {
  content: "\e67c";
}

.icon-search:before {
  content: "\e67d";
}

.icon-success:before {
  content: "\e67f";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

